.treebuttons{
  position: absolute;
  bottom: 6%;
  right: 5%;
  
  display: flex;
  justify-content: right;
  
  column-gap: 45px;
  }
  
  .boxcarrier{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .boxcarrier.box-hidden {
    visibility: hidden;
  }
  .smplw{
    width: 10%;
    height: 20px;
    border: solid black;
    background-color: aqua;
  }
  