.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 60%;
  height: 70%;
}

.popup-content h2 {
  margin-bottom: 10px;
}

.popup-buttons {
 
  text-align: right;
}

.popup-buttons button {
  padding: 3px 18px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(#3690ea, #1976d2);
  color: white;
}

.popup-buttons button:last-child {
  background-color: #6c757d;
}
.event-form {
  padding: 20px;
}
.event-form label{
    color: #2B3674;
}
.event-form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.event-form .datebox{
    display: flex;

}
.event-form .datebox input{
    width: 25%;
    margin-top: 25px;
}
.event-type{
    margin: 10px 0;
}
.event-type input[type="radio"] {
    display: none;
}

.event-type label {
  padding: 10px 20px;
  border: 1px solid #ccc;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(80, 80, 80);
  margin: 5px;
  display: inline-block;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.event-type input[type="radio"]:checked + label {
  background: linear-gradient(#3690ea, #1976d2);
  color: white;
}



/* venue requirement css */
.grid-container {
 
  display: grid; 
  grid-template-columns: repeat(7, 1fr); 
  width: 100%;
  height: 85%;
}
.flex{
  display: flex;
  height: 75%;
  
  justify-content: center;
  align-items: center;
}
.itemschoosing{
  display: flex;
  flex-direction: column;
  gap: 2%;
  height: 100%;
}
.circlex {
  background-color: #f0f0f0;
  padding: 20px;
  height: 80px;
  width:  80px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.circlex.selected {
  border: 2px solid #2B3674; Custom color for selected items
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr); /* Adjust to 6 columns for smaller screens */
  }
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr); /* Adjust to 5 columns for even smaller screens */
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr); /* Adjust to 4 columns for small screens */
  }
}
.item-name{
  padding-left: 15px;

}
@media (max-width: 400px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Adjust to 2 columns for very small screens */
  }
}
.circlex{

   object-fit: contain;
}